#files-tab {
  height: 100%;
}

#right-section {
  background: #f8f8f8;
}

/* window controls */
#window-controls button {
  width: 2rem;
  height: 2rem;

  font-size: 0.75rem;

  border-radius: 1rem;
}

#window-controls button:hover {
  background: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.6);
}

button#window-control-close:hover {
  background: rgba(232, 17, 35, 0.1);
  color: rgb(232, 17, 35);
}

/* file list */
#right-section .table {
  height: calc(100% - 2rem);

  border: none;

  overflow-x: hidden;
  overflow-y: scroll;
}

/* row common */
#right-section .row {
  height: 2rem;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 400px 50px auto;
  grid-gap: 1rem;

  transition: 50ms ease-in-out;
}

#right-section .row div {
  height: 2rem;

  color: #0008;

  font-size: 0.75rem;
  white-space: nowrap;

  display: flex;
  align-items: center;
  overflow: hidden;

  pointer-events: none;
}

#right-section .section {
  margin-bottom: 2rem;
}

#right-section .row div.hidden {
  display: none;
}

/* table head */
#right-section .table-head {
  padding: 0 1rem;
}

#right-section .table-head::before {
  content: '';

  width: 100%;
  height: 4rem;
  position: absolute;

  background: linear-gradient(
    180deg,
    #f8f8f8ff 0%,
    #f8f8f8ff 50%,
    #f8f8f800 100%
  );
  /* background: red; */

  pointer-events: none;
}
#right-section .table-head::after {
  bottom: 0;
}

#right-section .table-head div {
  opacity: 0.5;
}

/* section head */
#right-section .section-head {
  margin-top: 1rem;

  font-size: 0.75rem;
  font-weight: 700;

  display: flex;
  align-items: center;
}

#file-list,
#readonly-list,
#unsupported-list {
  display: none;
}

/* file entries */
#right-section .row.file-entry {
  cursor: pointer;
}

#right-section .row.file-entry div {
  font-weight: 700;
}

#right-section .row.file-entry:hover div {
  color: var(--accent-o50);
}

#right-section .row.file-entry.selected {
  background: var(--accent-o05);
}
#right-section .row.file-entry.selected div {
  color: var(--accent);
}

#right-section .row.file-entry:hover {
  background: #571be511;
}

/* bottom fade */
/* #right-section::after {
  content: '';

  width: 100%;
  width: 100%;
  height: 2rem;
  position: absolute;
  bottom: 0;

  background: linear-gradient(0deg, #f8f8f8ff 0%, #f8f8f8ff 0%, #f8f8f800 100%);

  pointer-events: none;
} */
