@mixin afterline-bottom {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  z-index: 2;
}

@mixin afterline-right {
  content: '';
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.05);
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  display: block;
  z-index: 2;
}

.afterline::after {
  @include afterline-bottom();
}

.afterline::after.afterline--right {
  @include afterline-right();
}
