@import './common/colors.css';
@import './common/afterlines.scss';
@import './common/section-layout.scss';

@import './files.scss';
@import './assistant.scss';
@import './context-menu.css';

* {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-weight: 400;

  background: transparent;

  margin: 0;
  padding: 0;

  position: relative;

  box-sizing: border-box;
  border: none;

  cursor: inherit;
  user-select: none;
}

html {
  font-size: 16px;
  line-height: 1rem;
  cursor: default;
}

header {
  -webkit-app-region: drag;
}

header input,
header button,
header button * {
  -webkit-app-region: no-drag;
}

button {
  cursor: pointer;
  outline: none;
}

input,
label {
  cursor: text;
  outline: none;
}

/* common */
.interactable,
button {
  transition: 100ms;
}

.interactable:hover,
button:hover {
  transition: 100ms;
}

.interactable.begging,
button.begging {
  transition: 500ms ease-in;
}

.interactable.begging:hover,
button.begging:hover {
  transition: 100ms;
}

/* main-layout */
#main-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 20rem auto;
}

header::after {
  @include afterline-bottom();
}

#beta-build-disclaimer {
  width: 100%;
  height: 4rem;
  left: 0;
  top: 0;
  position: absolute;
  font-size: 1em;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

/* scroll bars */
::-webkit-scrollbar {
  width: 0.25rem;
  height: 1rem;
}

::-webkit-scrollbar-track {
  background: #eee;
}

::-webkit-scrollbar-thumb {
  background: #ddd;
  // border-radius: 0.5rem;
  transition: 300ms;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
  transition: 150ms;
}
