#left-section {
  background: #ffffff;
}

/* nav buttons */
#left-section header button {
  height: 2rem;

  font-weight: 700;
  font-size: 0.75rem;

  border-radius: 1rem;
}

#left-section header button:hover {
  background: var(--accent);
  color: #ffffff;
}

#left-section header button:active {
  background: var(--accent-h1);
  color: #ffffff;
}

#tags-save {
  width: 6rem;
  background: #000000;
  color: #ffffff;
}

#open-assistant {
  padding: 0 1rem;
}

/* fileds */
.tag-field {
  transition: 500ms;
}

.tag-field::before {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.0625);
  position: absolute;
  display: block;
}

.tag-field:first-child:before {
  display: none;
}

.tag-field label,
.tag-field span {
  font-size: 0.75em;

  opacity: 0.5;

  display: block;

  padding: 0 1rem;
  padding-top: 2rem;
}

.tag-field input {
  width: 100%;
  height: 3rem;

  font-size: 1em;
  font-weight: 700;

  opacity: 0.87;

  padding: 0 1rem;
  padding-bottom: 1rem;
}

.tag-field input::placeholder {
  color: #000;
  opacity: 0.1;
}

/* album art */
.tag-field.picture-field {
  padding-bottom: 2rem;
}

.tag-field .picture-input {
  width: 18rem;
  height: 18rem;

  background: rgba(0, 0, 0, 0.1);

  margin: 0 1rem;
  margin-top: 1rem;

  border-radius: 0.25rem;

  overflow: hidden;
}

.tag-field .picture-input::before {
  content: 'Drag an image here';

  width: 100%;
  height: 100%;
  position: absolute;

  opacity: 0.1;

  font-size: 1em;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-field .picture-input img {
  width: 100%;
  height: 100%;
}

/* other frames */
.tag-field.other-field {
  padding-bottom: 2rem;
}

/* tag field hover */
.tag-field:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}
