#context-menu {
  position: fixed;
  padding: 1rem 0;

  background: black;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.125);

  display: none;
  flex-direction: column;
  border-radius: 0.25rem;
  overflow: hidden;

  z-index: 10;
}
#context-menu button {
  width: 14rem;
  height: 2rem;
  padding: 0 1rem;
  /* padding-right: 6rem; */

  color: rgba(255, 255, 255, 0.9);

  text-align: left;
  font-weight: 500;
}

#context-menu button:hover {
  background: #571be5;
  color: white;
}

#context-menu button:active {
  background: #7f48ff;
  color: white;
}

#context-menu button::after {
  content: '';

  width: calc(100% - 4rem);
  height: 1px;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  margin: 0 auto;

  background: #571be5;
  opacity: 0.1;

  display: none;
  /* display: block; */
}

#context-menu button:last-child:after {
  display: none;
}
