#tags-section {
  background: #ffffff;
}

#tags-save {
  width: 6rem;
  height: 2rem;

  background: #000000;
  color: #ffffff;

  font-weight: 700;
  font-size: 0.75em;

  border-radius: 1rem;
}

#tags-section header #tags-save:hover {
  background: #571be5;
  color: #ffffff;
}

/* fileds */
.tag-field {
  transition: 500ms;
}

.tag-field::before {
  content: '';
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.0625);
  position: absolute;
  display: block;
}

.tag-field:first-child:before {
  display: none;
}

.tag-field label,
.tag-field span {
  font-size: 0.75em;

  opacity: 0.25;

  display: block;

  padding: 0 1rem;
  padding-top: 2rem;
}

.tag-field input {
  width: 100%;
  height: 3rem;

  font-size: 1em;
  font-weight: 700;

  opacity: 0.87;

  padding: 0 1rem;
  padding-bottom: 1rem;
}

.tag-field input::placeholder {
  color: #000;
  opacity: 0.1;
}

/* album art */
#album-art-field {
  padding-bottom: 4rem;
}

#album-art-input {
  width: 22rem;
  height: 22rem;

  background: rgba(0, 0, 0, 0.1);

  margin: 0 1rem;
  margin-top: 1rem;

  border-radius: 0.25rem;

  overflow: hidden;
}

#album-art-input::before {
  content: 'Drag an image here';

  width: 100%;
  height: 100%;
  position: absolute;

  opacity: 0.1;

  font-size: 2em;
  font-weight: 700;

  display: flex;
  justify-content: center;
  align-items: center;
}

#album-art-input img {
  width: 100%;
  height: 100%;
}

/* tag field hover */
.tag-field:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);
}
