#files-section {
	background: #f8f8f8;
}

/* window controls */
#window-controls {
	display: flex;
}

#window-controls button {
	width: 2rem;
	height: 2rem;

	font-size: 0.75em;

	margin-left: 1em;

	border-radius: 1rem;
}

#window-controls button:hover {
	background: rgba(0, 0, 0, 0.1);
}

button#window-control-close:hover {
	color: #e81123;
}

/* files section */
#files-section header::after {
	width: calc(100% - 4em);
	margin: 0 auto;
}

/* file list */
#files-section .table {
	height: 100%;

	padding: 2rem;
	padding-top: 3rem;
	padding-right: 0.625rem;
	margin-right: 0.625rem;

	overflow-x: hidden;
	overflow-y: scroll;

	border: none;
}

#files-section .row {
	height: 2rem;

	display: grid;
	grid-template-columns: 500px 50px auto;

	transition: 50ms ease-in-out;
}

#files-section .row div {
	height: 2rem;
	padding-right: 2rem;

	opacity: 0.7;

	font-size: 0.75rem;
	white-space: nowrap;
	overflow: hidden;

	display: flex;
	align-items: center;
}

#files-section .row:hover {
	background: rgba(0, 0, 0, 0.05);
}

/* fade */
#files-section::after {
	content: "";

	width: calc(100%);
	height: 2rem;
	position: absolute;
	bottom: 0;

	background: linear-gradient(0deg, #f8f8f8ff 0%, #f8f8f8ff 0%, #f8f8f800 100%);

	pointer-events: none;
}

/* table head */
#files-section .table-head {
	width: calc(100% - 18rem);
	position: fixed;
	top: 6rem;

	/* background: red; */
	z-index: 1;
}

#files-section .table-head::before {
	content: "";

	width: calc(100% - 10rem);
	height: 4rem;
	position: absolute;

	background: linear-gradient(180deg, #f8f8f8ff 0%, #f8f8f8ff 50%, #f8f8f800 100%);

	pointer-events: none;
}

#files-section .table-head::after {
	width: calc(100% - 10rem);
}

#files-section .table-head div {
	opacity: 0.5;
}
