* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 400;

	color: #000000;
	background: transparent;

	margin: 0;
	padding: 0;

	position: relative;

	box-sizing: border-box;
	border: none;

	cursor: inherit;
	user-select: none;
}

html {
	font-size: 16px;
}

header button {
	-webkit-app-region: no-drag;
}

button {
	-webkit-app-region: no-drag;
	cursor: pointer;
	outline: none;
}

input,
label {
	cursor: text;
	outline: none;
}

button * {
	-webkit-app-region: no-drag;
}

/* common */
.interactable,
button {
	transition: 100ms;
}

.interactable:hover,
button:hover {
	transition: 100ms;
}

.interactable.begging,
button.begging {
	transition: 500ms ease-in;
}

.interactable.begging:hover,
button.begging:hover {
	transition: 100ms;
}

/* body */
body {
	height: 100vh;
	display: grid;
	grid-template-columns: 24em auto;
}

/* sections */
section {
	height: 100%;
	display: grid;
	grid-template-rows: 6rem auto;
}

header {
	padding: 0 2rem;

	display: flex;
	justify-content: space-between;
	align-items: center;

	-webkit-app-region: drag;
}

main {
	max-height: calc(100vh - 6rem);

	overflow-x: hidden;
	overflow-y: auto;
}
header::after,
.afterline::after {
	content: "";
	width: 100%;
	height: 1px;
	background: rgba(0, 0, 0, 0.05);
	position: absolute;
	left: 0;
	right: 0;
	bottom: -1px;
	display: block;
	z-index: 2;
}

h2 {
	font-size: 2em;
	font-weight: 700;
}

/* scroll bars */
::-webkit-scrollbar {
	width: 0.25rem;
	/* height: 0.25rem; */
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	/* border-radius: 5px; */
}

::-webkit-scrollbar-track {
	background: rgba(0, 0, 0, 0.05);
}

::-webkit-scrollbar-thumb {
	background: rgba(0, 0, 0, 0.1);

	transition: 0.5s;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(0, 0, 0, 0.5);
	transition: 0.25s;
}
